* {
  -moz-box-string: border-box;
  box-string: border-box;
}

body {
  background-color: #141301;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  }

body, html, section, .angular-leaflet-map {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
  }

#map {
  height: 95%;
  width: 100%;
}
h1 {
  background-color: #222;
  color: #fff;
  margin: 0;
  padding-left: 5px;
  padding: 0;
}

h4 {
  background-color: #222;
  color: #fff;
  margin: 0;
  padding-bottom: 5px;
  padding-left: 5px;
  padding: 0;
}

a {
  color: #3a8ace;
  text-decoration: none;
}

.header {
  background-color: #A4031F;
  box-sizing: border-box;
  color: #E5E7E6;
  font-size: 20px;
  height: 5%;
  min-height: 50px;
  padding: 12px 0 0 15px;
  width: 100%;
}

.header-name {
  display: inline-block;
  width: 20%;
}

.header-toolbar {
  display: inline-block;
}

.header-toolbar-btn {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

.time-selectors {
  display: inline-block;
}

.time-selectors > input {
}
