<section data-ng-controller="CafesController" data-ng-init="find()">
  <div class='header'>
    <div class='header-title'>Cafes</div>
  </div>
  <ul class="cafe-list">
    <li data-ng-repeat="cafe in cafes">
      <a data-ng-href="#!/cafes/{{cafe._id}}" data-ng-bind="cafe.name"></a>
      <br>
      <p class='cafe-description' data-ng-bind-html="renderHtml(cafe.description)"></p>
    </li>
  </ul>
  <div data-ng-hide="!cafes || cafes.length">
    No cafes yet, why don't you
    <a href="/#!/cafes/create">create one</a>?
  </div>
</section>
