<section data-ng-controller="CafesController" data-ng-init="find()">
  <snap-drawer>
    <div class="nav">
      <div class="nav-item">
        <i class="fa fa-compass fa-fw"></i>
        <a href="/#!/map">Cafe Map</a>
      </div>
    </div>
    <div class="nav-item" snap-close>Close</div>
  </snap-drawer>
  <snap-content id="map-content">
    <div class="header">
      <div class="nav-toggle" snap-toggle="">
        <i class="fa fa-bars"></i>
      </div>
      <div class="header-title">Cafes</div>
    </div>
    <div class="cafe-container">
      <ul class="cafe-list">
        <li data-ng-repeat="cafe in cafes">
          <a data-ng-bind="cafe.name"></a>
          <br>
          <p class="cafe-description" data-ng-bind-html="renderHtml(cafe.description)"></p>
        </li>
      </ul>
    </div>
    <div data-ng-hide="!cafes || cafes.length">
      Loading cafes
    </div>
  </snap-content>
</section>
