<section ng-controller="MapController">
  <snap-drawer>
    <div class="nav">
      <div class="nav-item" ng-click="reloadCafes()">Open Now</div>
      <div class="nav-item">
        <a href="/#!/cafes">Cafe List</a>
      </div>
    </div>
    <div class="nav-item" snap-close>Close</div>
  </snap-drawer>
  <snap-content id="map-content">
    <div class="header map-header">
    <div class="header-title" snap-toggle="">SF WiFi Coffee Map</div>
    <div class="header-toolbar">
    </div>
  </div>
  <div class="map-container">
    <div id="map"></div>
  </div>
  </snap-content>

</section>
