<!DOCTYPE html>
<html xmnls:ng="http://angularjs.org">
  <head>
    <title>SF WiFi Coffee</title>
  </head>
  <body>
    Welcome to the coffee map.

    <script type="text/javascript" src="/lib/angular/angular.js"></script>

    <script type="text/javascript" src="/application.js"></script>
  </body>
</html>
