<!DOCTYPE html>
<html xmnls:ng="http://angularjs.org">
  <head>
    SF Coffee
  </head>
  <body>
    Welcome to the coffee map.

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
  </body>
</html>
