<!DOCTYPE html>
<html xmnls:ng="http://angularjs.org">
  <head>
    <title>SF WiFi Coffee</title>
  </head>
  <body>
    Welcome to the coffee map.

    <section ng-view></section>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="/cafes/cafes.client.module.js"></script>
    <script type="text/javascript" src="/cafes/controllers/cafes.client.controller.js"></script>
    <script type="text/javascript" src="/cafes/services/cafes.client.service.js"></script>
    <script type="text/javascript" src="/cafes/config/cafes.client.routes.js"></script>

    <script type="text/javascript" src="/application.js"></script>
  </body>
</html>
